@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
body {
  background-image: linear-gradient(45deg, #22cec2, #000);
  font-family: "Noto Sans JP", sans-serif;
  margin: 0em;
  padding: 0em;
}

.big-container {
  margin-top: 10em;
  margin-bottom: 12em;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.container img {
  margin-left: 17em;
  width: 20em;
  height: auto;
  border-radius: 50%;
}

.container .right {
  color: white;
  margin-top: 4.3em;
  margin-right: 14em;
  font-size: 20px;
}

.about-me {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-left: 12em;
  margin-right: 12em;
  margin-bottom: 15em;
}
